<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه لوازم آرایشی</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/font/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="/plugins/waves/waves.min.css">
    <link rel="stylesheet" href="/plugins/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/plugins/timer/timer.css">
    <link rel="stylesheet" href="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row align-items-center">

                <!-- logo -->
                <div class="col-lg-2 col-6 order-lg-1 order-1">
                    <div class="d-flex align-items-center">
                        <div class="responsive-menu d-lg-none d-block">
                            <button class="btn border-0 p-0 btn-responsive-menu" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#responsiveMenu"
                                aria-controls="responsive menu">
                                <i class="bi bi-list font-30"></i>
                            </button>
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="responsiveMenu"
                                aria-labelledby="responsive menu">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasRightLabel">فروشگاه لوازم آرایشی</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <a href="" class="text-center d-block mb-3">
                                        <img src="image/logo/main-logo.png" alt="" class="img-fluid" width="200">
                                    </a>
                                    <div class="header-bottom-form mb-4 w-100">
                                        <div class="search-form">
                                            <form action="">    
                                                <div class="search-filed">
                                                    <input type="text" placeholder="جستجوی محصولات ..."
                                                        class="form-control search-input">
                                                    <button type="submit"
                                                        class="btn search-btn main-color-one-bg rounded-pill"><i
                                                            class="bi bi-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <ul class="rm-item-menu navbar-nav">
                                        <li class="nav-item bg-ul-f7"><a href="index.html" class="nav-link">صفحه
                                                اصلی</a>
                                        </li>
                                        <% categories.forEach(title => { %>
                                            <li class="nav-item bg-ul-f7">
                                                <a href="" class="nav-link"><%= title.name %></a>
                                                <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                <ul class="navbar-nav h-0">
                                                    <% title.children.forEach(header => {%>
                                                        <li class="nav-item">
                                                        <a class="nav-link" href=""><%= header.name %></a>
                                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                                        <ul class="navbar-nav h-0 bg-ul-f7">
                                                            <% header.children.forEach(element => {%>
                                                                <li class="nav-item"><a href="<%= element.url %>" class="nav-link"><%= element.name %></a>
                                                                </li>
                                                            <%}); %>
                                                        </ul>
                                                    </li>
                                                    <%}); %>
                                                </ul>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="index.html">
                            <div class="logo">
                                <img src="image/logo/main-logo.png" alt="" class="img-fluid">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- end logo -->

                <!-- action apear when the screen is smaller-->
                <div class="d-lg-none d-block col-6 order-lg-5 order-2">
                    <div class="d-flex align-items-center justify-content-end">
                        <a class="btn btn-light no-highlight btn-lg btn-action-cart shadow-sm"
                            data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                            aria-controls="offcanvasCart">
                            <i class="bi bi-basket font-30"></i>
                            <span class="header-cart-counter main-color-one-bg d-inline-block rounded-pill">
                                5
                            </span>
                        </a>
                        <div class="dropdown ms-3">
                            <a href="#register" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                                class="btn btn-white header-register border-0 rounded-pill">
                                <figure class="avatar">
                                    <img src="image/user.png" alt="">
                                </figure>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" class="dropdown-item"><i class="bi bi-house-door me-2"></i>پروفایل</a>
                                </li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-cart-check me-2"></i>سفارش های
                                        من</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-pin-map me-2"></i>آدرس های
                                        من</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-bell me-2"></i>پیام ها و
                                        اطلاعیه ها</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-chat-dots me-2"></i>نظرات
                                        من</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-question-circle me-2"></i>درخواست
                                        پشتیبانی</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-heart me-2"></i>محصولات مورد
                                        علاقه</a></li>
                                <li><a href="" class="dropdown-item"><i class="bi bi-gift me-2"></i>کد های تخفیف
                                        من</a></li>
                                <li><a href="" class="dropdown-item mct-hover"><i
                                            class="bi bi-arrow-right-square me-2"></i>خروج از حساب کاربری</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end action -->

                <!-- form search -->
                <div class="col-lg-6 order-lg-2 d-lg-block d-none">
                    <div class="search-form">
                        <form action="">
                            <div class="search-filed">
                                <input type="text" placeholder="جستجوی محصولات ..." class="form-control search-input">
                                <button type="submit" class="btn search-btn main-color-one-bg rounded-pill"><i
                                        class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end form search -->

                <!-- auth  when screen is larger-->
                <div class="col-lg-4 order-lg-3 d-lg-block d-none">
                    <div class="d-flex align-items-center justify-content-end">
                        <!-- register login -->
                        <div class="btn-group header-btn-group shadow-sm rounded-pill">
                            <div class="dropdown">
                                <a href="#register" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                                    class="btn btn-white header-register border-0 rounded-pill">
                                    <i class="bi bi-person-circle font-20 text-muted me-1"></i>
                                    <span>ثبت نام</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="" class="dropdown-item"><i
                                                class="bi bi-house-door me-2"></i>پروفایل</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-cart-check me-2"></i>سفارش های
                                            من</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-pin-map me-2"></i>آدرس های
                                            من</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-bell me-2"></i>پیام ها و
                                            اطلاعیه ها</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-chat-dots me-2"></i>نظرات
                                            من</a></li>
                                    <li><a href="" class="dropdown-item"><i
                                                class="bi bi-question-circle me-2"></i>درخواست پشتیبانی</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-heart me-2"></i>محصولات مورد
                                            علاقه</a></li>
                                    <li><a href="" class="dropdown-item"><i class="bi bi-gift me-2"></i>کد های تخفیف
                                            من</a></li>
                                    <li><a href="" class="dropdown-item mct-hover"><i
                                                class="bi bi-arrow-right-square me-2"></i>خروج از حساب کاربری</a></li>
                                </ul>
                            </div>
                            <a href="#login" class="btn btn-white header-login border-0 rounded-pill">ورود</a>
                        </div>
                        <!-- wishlist -->
                        <div class="header-whishlist shadow-sm">
                            <a href="#whishlist">
                                <i class="bi bi-bookmark-check font-20 text-muted"></i>
                            </a>
                        </div>
                        <!-- shoping cart -->
                        <div class="header-cart ms-1">
                            <a class="btn header-cart-toggle rounded-pill btn-white border-0 shadow-sm"
                                data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                                aria-controls="offcanvasCart">
                                <i class="bi bi-shop font-20 text-muted me-1"></i>
                                <span class="header-cart-counter main-color-one-bg d-inline-block rounded-pill">
                                    5
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end auth -->

            </div>
        </div>
    </header>

     <!-- start mega menu -->

     <div class="mega-menu d-lg-block d-none">
        <div class="container-fluid">
            <div class="top-menu-parent">
                <div class="row align-items-center">
                    <div class="col-lg-9">
                        <div class="top-menu-menu">
                            <ul class="navbar-nav align-items-center">
                                <li class="position-relative m-0"></li>
                                <li class="nav-item main-menu-head"><a href=""
                                        class="nav-link border-animate main-color-one-bg fromCenter btn nav-active fw-bold"><i
                                            class="bi bi-list"></i>
                                        دسته بندی
                                    </a>
                                    <ul class="main-menu mega-container">
                                        <% categories.forEach(title => { %>
                                            <li class="main-menu-sub-active-li"><a href="/products/category/<%=title.id%>"><i class="bi bi-phone"></i>
                                                    <%= title.name %></a>
                                                <ul class="main-menu-sub back-menu"
                                                    style=" background: #fff url('assets/image/509-5092096_offering-high-quality-mobile-repair-service-main-image_prev_ui.png') no-repeat;">
                                                    <% title.children.forEach(header => { %>
                                                        <li><a class="title my-flex-baseline" href="/products/category/<%=header.id%>"><%= header.name %></a>
                                                        </li>
                                                        <% header.children.forEach(element => { %>
                                                            <li><a href='/products/category/<%=element.id%>' > <%= element.name %></a></li>
                                                        <% }); %>
                                                    <% }); %>
                                                </ul>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link border-animate fromCenter"> <i
                                            class="bi bi-tag"></i>
                                        تخفیف ها و پیشنهاد ها</a></li>
                                <li class="nav-item"><a href="" class="nav-link border-animate fromCenter">سوالی
                                        دارید</a>
                                </li>
                                <li class="nav-item"><a href="" class="nav-link border-animate fromCenter">در گلچهر
                                        بفروشید</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center justify-content-end">
                            <a href=""
                                class="main-color-three-bg btn border-0 d-flex align-items-center rounded-pill">038 tel<i
                                    class="bi bi-whatsapp text-white ms-2"></i></a>
                            <a href=""
                                class="main-color-two-bg btn border-0 d-flex align-items-center ms-3 rounded-pill">0912 tel<i
                                    class="bi bi-telephone-fill ms-2 text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end mega menu -->