<%- include('partials/header.ejs') %>
    <!-- start main slider (both sliders)-->

    <div class="main-slider py-20">
        <div class="container-fluid">
            <div class="row gy-3">
                <!--little slider-->
                <div class="col-lg-3 order-lg-1 order-2">
                    <div class="swiper" id="suggetMoment">
                        <div class="swiper-wrapper position-relative">
                            <!--the "swiper-slide" is the repeative element-->
                            <% discounted_products.forEach(product => {%>
                                <% const date = product.discount_expire_date.toISOString().split("T")[0];%>
                                <% const time = product.discount_expire_date.toISOString().split("T")[1].slice(0,5); %>
                                 
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-timer">
                                            <div class="timer-label">
                                                <span><%=product.discount %>% تخفیف</span>
                                            </div>
                                            <div class="timer">
                                                <div class='countdown' data-date="<%= date %>" data-time="<%= time %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <img src="<%= product.images[0] %>" loading="lazy" alt="<%= product.name %>"
                                                class="img-fluid">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class="text-overflow-1"><%= product.persian_title %></p>
                                                <span class="text-muted text-overflow-1"><%= product.english_title %></span>
                                            </div>
                                            <div class="rating">
                                                <div class="number"><span class="text-muted font-12"><%= product.rate.toString().slice(0,3) %></span></div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="price">
                                                <% const discountPrice = product.price * (100 - product.discount) / 100 %>
                                                <p class="new-price"><%=discountPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %> تومان</p>
                                                <p class="old-price"><%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %> تومان</p>
                                            </div>
                                            <div class="link">
                                                <a href="" class="btn border-0 rounded-3 main-color-one-bg">
                                                    <i class="bi bi-basket text-white"></i>
                                                    <span class="text-white">خرید محصول</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}); %>
                        </div>
                        <div class="swiper-progress-bar">
                            <span class="slide_progress-bar"></span>
                        </div>
                    </div>
                </div>
                <!--big slider-->
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="slider shadow-box">
                        <div class="swiper" id="homeSlider">
                            <div class="swiper-wrapper">
                                <% bigBillboards.forEach(billboard => { %>
                                    <div class="swiper-slide">
                                        <a href="<%= billboard.url %>">
                                            <img src="<%= billboard.image %>" loading="lazy" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                <% }); %>
                            </div>
                            <div class="swiper-button-next d-lg-flex d-none"></div>
                            <div class="swiper-button-prev d-lg-flex d-none"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end main slider -->

    <!-- start feature -->

    <div class="feature">
        <div class="container-fluid">
            <div
                class="row justify-content-center g-2 row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="image/history.png" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <h6 class=" mb-2">ضمانت بازگشت وجه</h6>
                            <p class="text-muted font-13  mb-0">در صورت عدم رضایت</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="image/credit-card.png" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <h6 class="  mb-2">تضمین قیمت</h6>
                            <p class="text-muted font-13  mb-0">کمترین قیمت بازار</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="image/fast.png" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <h6 class="  mb-2">ارسال سریع</h6>
                            <p class="text-muted font-13  mb-0">امن و مطمئن</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="image/headphone.png" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <h6 class="  mb-2">پشتیبانی عالی</h6>
                            <p class="text-muted font-13  mb-0">24 ساعته شبانه روز</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="image/badge.png" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <h6 class="  mb-2">اصالت کالا</h6>
                            <p class="text-muted font-13  mb-0">تضمین اصالت کالا</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end feature -->

    <!-- start service -->

    <div class="service">
        <div class="container-fluid">
            <div class="row gy-3 justify-content-between align-items-center">
                <div class="col-lg-3">
                    <div class="service-title">
                        <h6 class="font-25 text-white mb-3">
                            بیش از 5000 محصول
                        </h6>
                        <p class="mb-0 text-white font-13">برترین برندهای اصلی و خارجی</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div
                        class="row gy-2 gx-2 service-logo justify-content-md-end justify-content-center align-items-center">
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand1.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand3.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand4.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand5.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="image/brands/brand6.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end service -->

    <!-- start category -->

    <div class="category py-20">
        <div class="container-fluid">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="image/square.png" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">دسته بندی<span
                            class="main-color-one-color d-inline-block ms-1">محصولات</span></h5>
                </div>
                <div class="link">
                    <a href="" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="category-items">
                <div class="row gy-3 justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/detergend_hygiene.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">شوینده ها</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/kid_suncream.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">ضد آفتاب</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/lightening_cream.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">روشن کننده</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/skin_hydration.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">آب رسان</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/sun_cream.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">ضد آفتاب</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/whitening_cream.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">سفید کننده</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/cover_cream.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">کرم پوشاننده</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">

                        <div class="category-item p-3 rounded-3 bg-white shadow-box">
                            <a href="">
                                <div
                                    class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                    <div class="image">
                                        <img src="image/category_img/concealer.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="text ms-3">
                                        <p class="text-center font-14 text-overflow-1">کانسیلر</p>
                                        <a href=""
                                            class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                            <i
                                                class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end category -->

    <!-- start amazing slider -->

    <div class="amazing py-20">
        <div class="container-fluid">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="image/square.png" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">اسلایدر<span class="main-color-one-color d-inline-block ms-1">شگفت
                            انگیز</span></h5>
                </div>
                <div class="link">
                    <a href="" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="amazing-slider">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="amazing-pro-parent">
                            <div class="swiper amazing-slider-slider">
                                <div class="swiper-wrapper">
                                    <% amazingProducts.forEach(p => {%>
                                        <div class="swiper-slide">
                                            <div class="slider-item rounded-3 shadow-box bg-white">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="image">
                                                            <img src="<%= p.images[0] %>" loading="lazy" class="img-fluid" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                      <% if (p.discount > 0) { %>
                                                        <% const date = p.discount_expire_date.toISOString().split("T")[0];%>
                                                        <% const time = p.discount_expire_date.toISOString().split("T")[1].slice(0,5); %>
                                                        <div class="timer">
                                                            <div class='countdown' data-date="<%= date %>" data-time="<%= time %>">
                                                            </div>
                                                        </div>
                                                      <% } %>
                                                        <div class="desc mt-3">
                                                            <div class="title">
                                                                <div class="d-flex align-items-center flex-wrap">
                                                                    <h3 class="text-overflow-1 font-18 me-2"><%= p.persian_title %></h3>
                                                                    <% if (p.discount> 0) { %>
                                                                        <span class="discount danger-label mt-sm-0 mt-3"><%= p.discount %>
                                                                            تخفیف</span>
                                                                    <% } %>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="short-desc mt-3">
                                                                <p class="mb-2 text-overflow-3 text-muted">
                                                                    <%= p.description %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="meta">
                                                            <ul class="navbar-nav flex-lg-row justify-content-between">                                                                                                                           
                                                               <% const amazingCount = p.details.length < 4 ? p.details.length : 4 %>
                                                                
                                                                <% for (let index = 0; index < amazingCount; index++) {%>
                                                                     <li class="nav-item"><span
                                                                        class="nav-link text-overflow-1 font-14 fw-bold">
                                                                        <%= p.details[index].key %> <%= p.details[index].value %> </span></li>
                                                                <%} %>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            class="foot mt-3 d-flex justify-content-between align-items-center flex-wrap">
                                                            <div class="price d-flex align-items-center">
                                                                <% if (p.discount > 0) { %>
                                                                    <% const newPrice = p.price * (100-p.discount) /100 %>
                                                                    <script>
                                                                        const myvar = '<%= p.price %>';
                                                                        console.log(myvar);
                                                                    </script>
                                                                    <h6 class="font-25 main-color-one-color"><%= newPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></h6>
                                                                    <h6 class="font-12 ms-1">هزار تومان</h6>
                                                                    <h6 class="font-13 old-price ms-2"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></h6>
                                                                <% } else {%>
                                                                    <h6 class="font-12 ms-1">هزار تومان</h6>
                                                                    <h6 class="font-25 main-color-one-color"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></h6>
                                                                <% } %>
                                                            </div>
                                                            <div class="link">
                                                                <a href="/products/product/<%= p.id %>" class="btn border-0 rounded-3 main-color-one-bg">
                                                                    <i class="bi bi-basket text-white"></i>
                                                                    <span class="text-white">خرید محصول</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%}); %>
                                </div>
                                <div class="swiper-pagination d-lg-none d-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-lg-block d-none">
                        <div class="parent">

                            <div class="swiper amazing-slider-link" thumbsSlider="">
                                <div class="swiper-wrapper">
                                    <% amazingProducts.forEach(p => {%>
                                        <div class="swiper-slide">
                                            <div class="item">
                                                <div class="row gy-2">
                                                    <div class="col-4">
                                                        <div class="image">
                                                            <img src="<%= p.images[0] %>" loading="lazy"
                                                                alt="" class="img-fluid">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="title">
                                                            <h6 class="font-14 text-overflow-2"><%= p.persian_title %>
                                                                </h6>
                                                            <p class="mb-0 text-muted font-12 mt-2 text-overflow-2">
                                                                <%= p.english_title %>
                                                            </p>
                                                        </div>
                                                        <div class="price">
                                                            <% if(p.discount > 0) {%>
                                                                <% const newPrice = p.price * (100-p.discount) /100 %>
                                                                <p class="text-end new-price mb-2 price-off fw-bold"><span
                                                                    class="main-color-one-color"><%= newPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></span> <small
                                                                    class="font-11">تومان</small></p>
                                                                <p class="text-end old-price price-discount"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %> <small
                                                                    class="font-11">تومان</small></p>
                                                            <% } else { %>
                                                                <p class="text-end new-price mb-2 price-off fw-bold"><span
                                                                    class="main-color-one-color"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></span> <small
                                                                    class="font-11">تومان</small></p>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%}); %>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end amazing slider -->

    <!-- start product slider -->

    <div class="product-slider site-slider py-20">
        <div class="container-fluid">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="image/square.png" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3"><span class="main-color-one-color d-inline-block ms-1">پرفروشترین
                            محصولات</span> فروشگاه</h5>
                </div>
                <div class="link">
                    <a href="" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- PRODUCTS -->
        <div class="parent">
            <div class="container-fluid">
                <div class="swiper product-slider-swiper">
                    <div class="swiper-wrapper">
                        <% products_g1.forEach(p => { %>
                            <div class="swiper-slide">
                                <div class="product-box ">
                                    <div class="product-timer">
                                        <% if(p.discount > 0) {%>
                                            <div class="timer-label">
                                                <span><%= p.discount %>% تخفیف</span>
                                            </div>
                                        <% } %>
                                        <div class="product-header-btn">
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="مقایسه"><i class="bi bi-shuffle"></i></a>
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="مشاهده سریع"><i class="bi bi-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <% if(p.images.length > 1) {%>
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                                class="img-fluid one-image">
                                            <img src="<%= p.images[1] %>" loading="lazy" alt=""
                                                class="img-fluid two-image">
                                        <% } else { %>
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                            class="img-fluid one-image">
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                            class="img-fluid two-image">
                                        <% } %>
                                    </div>
                                       

                                    <div class="product-title">
                                        <div class="title">
                                            <p class="text-overflow-1"><%= p.persian_title %></p>
                                            <span class="text-muted text-overflow-1"><%= p.english_title %></span>
                                        </div>
                                        <div class="rating">
                                            <div class="number"><span class="text-muted font-12"><%= p.rate.toString().slice(0,3) %></span></div>
                                            <div class="icon"><i class="bi bi-star-fill"></i></div>
                                        </div>
                                    </div>
                                    <div class="product-action">
                                        <div class="price">
                                            <% const newPrice = p.price * (100 - p.discount) / 100 %>
                                            <p class="new-price"><%= newPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> تومان</p>
                                            <p class="old-price"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> تومان</p>
                                        </div>
                                        <div class="link">
                                            <a href="/products/product/<%= p.id %>" class="btn border-0 rounded-3 main-color-one-bg">
                                                <i class="bi bi-basket text-white"></i>
                                                <span class="text-white">خرید محصول</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- end product slider -->

    <!-- start banner -->

    <div class="banner py-20">
        <div class="container-fluid">
            <div class="row g-3">
                <% smallBillboards.forEach(billboard => {%>
                    <div class="col-lg-3 col-6">
                        <a href="<%= billboard.url %>">
                            <img src="<%= billboard.image %>" class="img-fluid rounded-3 shadow-box" alt="<%= billboard.type %>">
                        </a>
                    </div>
                <%}); %>
            </div>
        </div>
    </div>

    <!-- end banner -->

    <!-- start new product -->

    <div class="products-row py-20">
        <div class="container-fluid">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="image/square.png" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3"><span class="main-color-one-color d-inline-block ms-1">پرفروشترین
                            محصولات</span> فروشگاه</h5>
                </div>
                <div class="link">
                    <a href="" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="parent">
                <div class="row g-3">
                    <% for (let index = 0; index < products_g2.length; index++){%>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item bg-white p-2 shadow-box rounded-3">
                                <div class="row gy-2 align-items-center">
                                    <div class="col-4">
                                        <div class="image">
                                            <img src="<%= products_g2[index].images[0] %>" alt="<%= products_g2[index].name %>" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div class="number me-2">
                                                <h4 class="font-22 main-color-one-color"><%= index+1 %></h4>
                                            </div>
                                            <a href="/products/product/<%= products_g2[index].id %>">
                                                <div class="title">
                                                    <h6 class="font-14 text-overflow-2"><%= products_g2[index].persian_title %></h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}; %>
                </div>
            </div>
        </div>
    </div>

    <!-- end new product -->

    <!-- start banner -->

    <div class="banner py-20">
        <div class="container-fluid">
            <div class="row g-3">
                <% mediumBillboards.forEach(billboard => { %>
                    <div class="col-sm-4">
                        <a href="<%= billboard.url %>">
                            <img src="<%= billboard.image %>" class="img-fluid rounded-3 shadow-box" alt="<%= billboard.type %>">
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <!-- end banner -->

    <!-- start product slider -->

    <div class="product-slider site-slider theme-2 py-20">
        <div class="container-fluid">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="image/square.png" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3"><span class="main-color-one-color d-inline-block ms-1">پرفروشترین
                            محصولات</span> فروشگاه</h5>
                </div>
                <div class="link">
                    <a href="" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="container-fluid">
                <div class="swiper product-slider-swiper">
                    <div class="swiper-wrapper">
                        <% products_g3.forEach(p => { %>
                            <div class="swiper-slide">
                                <div class="product-box ">
                                    <div class="product-timer">
                                        <% if (p.discount > 0) { %>
                                            <div class="timer-label">
                                                <span><%= p.discount %>% تخفیف</span>
                                            </div>
                                        <% } %>
                                        
                                        <div class="product-header-btn">
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="مقایسه"><i class="bi bi-shuffle"></i></a>
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="مشاهده سریع"><i class="bi bi-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <% if (p.images.length > 1) { %>
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                            class="img-fluid one-image">
                                            <img src="<%= p.images[1] %>" loading="lazy" alt=""
                                            class="img-fluid two-image">
                                        <% } else {%>
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                            class="img-fluid one-image">
                                            <img src="<%= p.images[0] %>" loading="lazy" alt=""
                                            class="img-fluid two-image">
                                        <% } %>
                                        
                                    </div>
                                    <div class="product-title">
                                        <div class="title">
                                            <p class="text-overflow-1"><%= p.persian_title %></p>
                                            <span class="text-muted text-overflow-1"><%= p.english_title %></span>
                                        </div>
                                        <div class="rating">
                                            <div class="number"><span class="text-muted font-12"><%= p.rate.toString().slice(0,3) %></span></div>
                                            <div class="icon"><i class="bi bi-star-fill"></i></div>
                                        </div>
                                    </div>
                                    <div class="product-action">
                                        <div class="price">
                                            <% const newPrice = p.price * (100 - p.discount) / 100 %>
                                            <p class="new-price"><%= newPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> تومان</p>
                                            <p class="old-price"><%= p.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %> تومان</p>
                                        </div>
                                        <div class="link">
                                            <a href="/products/product/<%= p.id %>" class="btn border-0 rounded-3 main-color-one-bg">
                                                <i class="bi bi-basket text-white"></i>
                                                <span class="text-white">خرید محصول</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        <%}); %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- end product slider -->

    <%- include('partials/footer.ejs') %>
    <%- include('partials/mobileMenu.ejs') %>
    <%- include('partials/cartCanvas.ejs') %>
    <%- include('partials/floatingButtons.ejs') %>
    <%- include('partials/scriptTags.ejs') %>

</body>

</html>